<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST" th:action="@{/create}" th:object="${person}">
        <div th:if="${#fields.hasErrors()}">
            <span class="validationError">
            Błędy formularza.
        </span>
        </div>
        <label for="name">name:</label>
        <input type="text" th:field="*{name}"/>
        <br>
        <span class="validationError"
                    th:if="${#fields.hasErrors('name')}"
                    th:errors="*{name}">Błąd
    </span>
        <br>
        <input type="submit" value="Submit"/>
</form>

</body>
</html>