<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link th:href = "@{/styles.css}" rel="stylesheet" type="text/css">
  <title>Furniture Selection</title>
</head>
<body>
<h1>Select Your Furniture</h1>
<a href="javascript:history.back()">Go back</a>

<form th:action="@{/shop/{shopId}/addFurniture(shopId=${shop.id})}" method="post" >
  <table>
    <thead>
    <tr>
      <th>Select</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Manufacturer</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="furniture : ${furnitureList}">
      <td><input type="checkbox" name="furnitureIds" th:value="${furniture.id}" /></td>
      <td th:text="${furniture.name}"></td>
      <td th:text="${furniture.material}"></td>
      <td th:text="${furniture.price}"></td>
      <td th:text="${furniture.manufacturer.name}"></td>
    </tr>
    </tbody>
  </table>
  <br />
  <input type="submit" value="Submit" />
</form>
</body>
</html>
