<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Furniture List</title>
</head>
<body>
<h1>Furniture List</h1>
<p th:if="${furnitureList != null}">
<div th:each="furniture : ${furnitureList}">
  Furniture: <a th:href="@{/furniture/{id}(id=${furniture.id})}" th:text="${furniture.name}"></a>
  <a th:href="@{/furniture/{id}/edit(id=${furniture.id})}">Edit</a>
  <button type="button" class="btn btn-danger" th:attr="data-id=${furniture.id}">Delete</button>
  <br>
</div>
</p>
<a href="/furniture/add">Add Furniture</a>

<script>
  document.querySelectorAll('.btn-danger').forEach(function(button) {
    button.addEventListener('click', function() {
      if (confirm('Are you sure you want to delete this piece of furniture?')) {
        var id = button.getAttribute('data-id');
        fetch('/furniture/' + id, {
          method: 'DELETE'
        }).then(function() {
          // reload the page to update the list of furniture
          location.reload();
        });
      }
    });
  });
</script>

</body>
</html>